body {
    background: linear-gradient(#0c1938, #170a0a);
}
.img {
    min-width: max-content;
}
.h1 {
    color: antiquewhite;
    text-align: center;
}
.div {
    background-color: rgba(255, 255, 255, 0.436);
    border-radius: 20px;
    display: flex;
    width: max-content;
    position: fixed;
}
.div:hover {
    background-color: rgb(255, 255, 255);
    margin: 8px;
}
.button {
    background-color: #000000;
    margin: 5px;
    border-radius: 20px;
    padding: 5px;
}
.button:hover {
    margin: 6px;
}
.a {
    padding: 10px;
    font-size: 20px;
    color: #414142;
    text-decoration: none;
    font-style: initial;
}
.a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.tr2 {
    color: rgb(255, 0, 0);
}
.td {
    color: #ffb300;
}
.table , .tr , td {
    color: azure;
    border: 1px solid;
    padding: 5px;
}
.button1 {
    background-color: #170a0a;
    margin-top: 20px;
    border-radius: 10px;
    padding: 6px;
}
.button1:hover {
    padding: 9px;
    background-color: #170a0a;
}
.a1 {
    font-size: 15px;
    color: #ffb300;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
}
.a1:hover {
    color: #ff0000;
    text-decoration: underline;
}
p {
    color: #e3d9e7;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 5px;
    padding: 5px;
}
iframe {
    align-items: center;
}
.div1 {
    background-color: aliceblue;
    margin-left: none;
    padding-left: none;
    border: none;
    width: max-content;
    padding-bottom: 25px;
}
.tra {
    color: #000000;
    border: none;
    padding: 5px;
}
.tda {
    margin: 40px;
    border: none;
    padding: 5px;
}
.a2 {
    text-decoration: none;
    color: #484848;
}
.a2:hover {
    text-decoration: underline;
    color: #000000;
}